<div class="col-md-12">
  <div class="card card-container">
    <img
      id="profile-img"
      src="http://st3.depositphotos.com/1007566/12799/v/450/depositphotos_127993376-stock-illustration-grandfather-character-member-avatar.jpg"
      class="profile-img-card"
    />
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
<!---
    <div class="form-group">
      <label for="username">Usuario</label>
      <input
        type="text"
        class="form-control"
        name="username"
        [(ngModel)]="form.username"
        required
        minlength="3"
        maxlength="20"
        #username="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
      />
      <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
        <div *ngIf="username.errors['required']">Se requiere un usuario</div>
        <div *ngIf="username.errors['minlength']">
          El usuario debe contener al menos 3 caracteres.
        </div>
        <div *ngIf="username.errors['maxlength']">
          El usuario no debe contener más de 20 caracteres.
        </div>
      </div>
    </div>  
--->    
    
      
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          type="text"
          class="form-control"
          name="nombre"
          [(ngModel)]="form.nombre"
          required
          minlength="3"
          maxlength="20"
          #nombre="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && nombre.errors }"
        />
        <div class="invalid-feedback" *ngIf="nombre.errors && f.submitted">
          <div *ngIf="nombre.errors['required']">Se requiere un usuario</div>
          <div *ngIf="nombre.errors['minlength']">
            El nombre debe contener al menos 2 caracteres.
          </div>
          <div *ngIf="nombre.errors['maxlength']">
            El nombre no debe contener más de 20 caracteres.
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="appellido_paterno">Apellido Paterno</label>
        <input
          type="text"
          class="form-control"
          name="apellido_paterno"
          [(ngModel)]="form.apellido_paterno"
          required
          minlength="2"
          maxlength="20"
          #apellido_paterno="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && apellido_paterno.errors }"
        />
        <div class="invalid-feedback" *ngIf="apellido_paterno.errors && f.submitted">
          <div *ngIf="apellido_paterno.errors['required']">Debe ingresar un apellido.</div>
          <div *ngIf="apellido_paterno.errors['minlength']">
            El apellido debe contener al menos 2 caracteres.
          </div>
          <div *ngIf="apellido_paterno.errors['maxlength']">
            El apellido no debe contener más de 20 caracteres.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="apellido_materno">Apellido Materno</label>
        <input
          type="text"
          class="form-control"
          name="apellido_materno"
          [(ngModel)]="form.apellido_materno"
          maxlength="20"
          #apellido_materno="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && apellido_materno.errors }"
        />
        <div class="invalid-feedback" *ngIf="apellido_materno.errors && f.submitted">
          <div *ngIf="apellido_materno.errors['maxlength']">
            El apellido materno no debe contener más de 20 caracteres.
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="genero">Sexo</label>
        <select class="form-control" name="genero" [(ngModel)]="form.genero">
          <option value="masculino">Masculino</option>
          <option value="femenino">Femenino</option>
          <option value="otro">Otro</option>
        </select>
      </div>
     
<!---
      <label for="genero">Género</label>
      <div class="form-check form-check-inline" aria-label="genero">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Masculino">
        <label class="form-check-label" for="inlineRadio1">Masculino</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Femenino">
        <label class="form-check-label" for="inlineRadio2">Femenino</label>
      </div>
--->  

<!--
      <div class="form-group">
        <label for="genero">Genero</label>
        <input
          type="text"
          class="form-control"
          name="genero"
          [(ngModel)]="form.genero"
          required
          minlength="3"
          maxlength="20"
          #genero="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && genero.errors }"
        />
        <div class="invalid-feedback" *ngIf="genero.errors && f.submitted">
          <div *ngIf="genero.errors['required']">Se requiere un usuario</div>
          <div *ngIf="genero.errors['minlength']">
            El nombre debe contener al menos 2 caracteres.
          </div>
          <div *ngIf="genero.errors['maxlength']">
            El nombre no debe contener más de 20 caracteres.
          </div>
        </div>
      </div>
-->
    

      <div class="form-group">
        <label for="correo">Correo electrónico</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.correo"
          required
          email
          #email="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
        />
        <div class="invalid-feedback" *ngIf="email.errors && f.submitted">
          <div *ngIf="email.errors['required']">
            Se requiere un correo electrónico.
          </div>
          <div *ngIf="email.errors['email']">
            La dirección del correo electrónica debe ser válida.
          </div>
        </div>
      </div>
      
     <div class="form-group">
        <label for="telefono">Número telefónico</label>
        <input
          type="text"
          class="form-control"
          name="telefono"
          [(ngModel)]="form.telefono"
          required
          minlength="10"
          maxlength="10"
          #telefono="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && telefono.errors }"
        />
        <div class="invalid-feedback" *ngIf="telefono.errors && f.submitted">
          <div *ngIf="telefono.errors['required']">
            Se requiere un número telefónico.
          </div>
          <div *ngIf="telefono.errors['minlength']">
            El número telefónico debe tener 10 dígitos.
          </div>
          <div *ngIf="telefono.errors['maxlength']">
            El teléfono no debe contener más de 10 dígitos.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.contrasena"
          required
          minlength="6"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">
            Se requiere contraseña.
          </div>
          <div *ngIf="password.errors['minlength']">
            La contraseña debe de tener al menos 6 caracteres.
          </div>
        </div>
      </div>

      <script>
        var myInput = document.getElementById("psw");
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");
        
        // When the user clicks on the password field, show the message box
        myInput.onfocus = function() {
          document.getElementById("message").style.display = "block";
        }
        
        // When the user clicks outside of the password field, hide the message box
        myInput.onblur = function() {
          document.getElementById("message").style.display = "none";
        }
        
        // When the user starts to type something inside the password field
        myInput.onkeyup = function() {
          // Validate lowercase letters
          var lowerCaseLetters = /[a-z]/g;
          if(myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
          } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
        }
        
          // Validate capital letters
          var upperCaseLetters = /[A-Z]/g;
          if(myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
          } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
          }
        
          // Validate numbers
          var numbers = /[0-9]/g;
          if(myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
          } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
          }
        
          // Validate length
          if(myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
          } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
          }
        }
        </script>


      <div class="form-group">
        <label for="ciudad">Ciudad</label>
        <input
          type="text"
          class="form-control"
          name="ciudad"
          [(ngModel)]="form.ciudad"
          required
          #ciudad="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted &&  ciudad.errors }"
        />
        <div class="invalid-feedback" *ngIf="ciudad.errors && f.submitted">
          <div *ngIf="ciudad.errors['required']">
             Se requiere una ciudad.
          </div>
        </div>
      </div>
<!---
<div class="form-group">
  <label for="psw">Password</label>
    <input type="password" 
    id="contrasena" 
    name="contrasena" 
    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" 
    required>
</div>
--->

<!---
      <select class="form-select" aria-label="genero">
        <label for="estado">Estado</label>
        <input
          type="text"
          class="form-control"
          name="estado"
          [(ngModel)]="form.estado"
        />
        <option selected> Estado </option>
        <option value="1">Aguascalientes</option>
        <option value="2">Baja California</option>
        <option value="3">Baja California Sur</option>
        <option value="4">Campeche</option>
        <option value="5">Chiapas</option>
        <option value="6">Chihuahua</option>
        <option value="7">Coahuila</option>
        <option value="8">Colima</option>
        <option value="9">Durango</option>
        <option value="10">Estado de México</option>
        <option value="11">Guanajuato</option>
        <option value="12">Guerrero</option>
        <option value="13">Hidalgo</option>
        <option value="14">Jalisco</option>
        <option value="15">Michoacán</option>
        <option value="16">Morelos</option>
        <option value="17">Nayarit</option>
        <option value="18">Nuevo León</option>
        <option value="19">Oaxaca</option>
        <option value="20">Puebla</option>
        <option value="21">Querétaro</option>
        <option value="22">Quintana Roo</option>
        <option value="23">San Luis Potosí</option>
        <option value="24">Sinaloa</option>
        <option value="25">Sonora</option>
        <option value="26">Tabasco</option>
        <option value="27">Tamaulipas</option>
        <option value="28">Tlaxcala</option>
        <option value="29">Veracruz</option>
        <option value="30">Yucatán</option>
        <option value="31">Zacatecas</option>
      </select>
--->

      <div class="form-group">
        <label for="estado">Estado</label>
        <select class="form-control" name="estado" [(ngModel)]="form.estado">
          <option value="Aguascalientes">Aguascalientes</option>
          <option value="Baja California">Baja California</option>
          <option value="Baja California Sur">Baja California Sur</option>
          <option value="Campeche">Campeche</option>
          <option value="Chiapas">Chiapas</option>
          <option value="Chihuahua">Chihuahua</option>
          <option value="Ciudad de México">Ciudad de México</option>
          <option value="Coahuila">Coahuila</option>
          <option value="Colima">Colima</option>
          <option value="Durango">Durango</option>
          <option value="Estado de México">Estado de México</option>
          <option value="Guanajuato">Guanajuato</option>
          <option value="Guerrero">Guerrero</option>
          <option value="Hidalgo">Hidalgo</option>
          <option value="Jalisco">Jalisco</option>
          <option value="Michoacán">Michoacán</option>
          <option value="Morelos">Morelos</option>
          <option value="Nayarit">Nayarit</option>
          <option value="Nuevo León">Nuevo León</option>
          <option value="Oaxaca">Oaxaca</option>
          <option value="Puebla">Puebla</option>
          <option value="Querétaro">Querétaro</option>
          <option value="San Luis Potosí">San Luis Potosí</option>
          <option value="Sinaloa">Sinaloa</option>
          <option value="Sonora">Sonora</option>
          <option value="Tabasco">Tabasco</option>
          <option value="Tamaulipas">Tamaulipas</option>
          <option value="Tlaxcala">Tlaxcala</option>
          <option value="Veracruz">Veracruz</option>
          <option value="Yucatán">Yucatán</option>
          <option value="Zacatecas">Zacatecas</option>          
        </select>
      </div>


      <!--
      <div class="form-group">
        <label for="estado">Estado</label>
        <input
          type="text"
          class="form-control"
          name="estado"
          [(ngModel)]="form.estado"
          required
          minlength="3"
          maxlength="20"
          #estado="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && estado.errors }"
        />
        <div class="invalid-feedback" *ngIf="estado.errors && f.submitted">
          <div *ngIf="estado.errors['required']">Se requiere un usuario</div>
          <div *ngIf="estado.errors['minlength']">
            El nombre debe contener al menos 2 caracteres.
          </div>
          <div *ngIf="estado.errors['maxlength']">
            El nombre no debe contener más de 20 caracteres.
          </div>
        </div>
      </div>
      -->

      <div class="form-group">
        <label for="codigo_postal"> Código Postal</label>
        <input
          type="text"
          class="form-control"
          name="codigo_postal"
          [(ngModel)]="form.codigo_postal"
          required
          minlength="5"
          maxlength="5"
          #codigo_postal="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && codigo_postal.errors }"
        />
        <div class="invalid-feedback" *ngIf="codigo_postal.errors && f.submitted">
          <div *ngIf="codigo_postal.errors['required']">
            Se requiere un código postal.
          </div>
          <div *ngIf="codigo_postal.errors['minlength']">
            El código postal debe tener 5 dígitos.
          </div>
          <div *ngIf="codigo_postal.errors['maxlength']">
            El código postal no debe contener más de 10 dígitos.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="a_nacimiento">Año de nacimiento</label>
        <input
          type="text"
          class="form-control"
          name="a_nacimiento"
          [(ngModel)]="form.a_nacimiento"
          required
          #a_nacimiento="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && a_nacimiento.errors }"
        />
        <div class="invalid-feedback" *ngIf="a_nacimiento.errors && f.submitted">
          <div *ngIf="a_nacimiento.errors['required']">
             Por favor ingrese su fecha de nacimiento.</div>
        </div>
      </div>

      <div class="form-group">
        <label for="pregunta_seguridad">Pregunta de seguridad</label>
        <select class="form-control" name="pregunta_seguridad" [(ngModel)]="form.pregunta_seguridad">
          <option value="1">¿Cuál es el nombre de tu primer mascota?</option>         
          <option value="2">¿A qué secundaria fuiste?</option>         
          <option value="3">¿Cuál es tu equipo deportivo favorito?</option>         
          <option value="4">¿Cuál es tu color favorito?</option>         
          <option value="5">¿En qué ciudad nació tu papá?</option>         
          <option value="6">¿Quién es el héroe de tu infancia?</option>         
          <option value="7">¿Cómo decían de pequeño?</option>         
          <option value="8">¿Cuál es tu comida favorita?</option>         
          <option value="9">¿Cuál es tu película favorita?</option>         
        </select>
      </div>


      <div class="form-group">
        <label for="respuesta_seguridad">Respuesta</label>
        <input
          type="text"
          class="form-control"
          name="respuesta_seguridad"
          [(ngModel)]="form.respuesta_seguridad"
          required
          #respuesta_seguridad="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted &&  respuesta_seguridad.errors }"
        />
        <div class="invalid-feedback" *ngIf="respuesta_seguridad.errors && f.submitted">
          <div *ngIf="respuesta_seguridad.errors['required']">
             Se requiere una respuesta.
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="nombre_contacto_confianza">Nombre contacto de confianza</label>
        <input
          type="text"
          class="form-control"
          name="nombre_contacto_confianza"
          [(ngModel)]="form.nombre_contacto_confianza"
          required
          minlength="3"
          maxlength="20"
          #nombre_contacto_confianza="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && nombre_contacto_confianza.errors }"
        />
        <div class="invalid-feedback" *ngIf="nombre_contacto_confianza.errors && f.submitted">
          <div *ngIf="nombre_contacto_confianza.errors['required']">Se requiere un usuario</div>
          <div *ngIf="nombre_contacto_confianza.errors['minlength']">
            El nombre debe contener al menos 2 caracteres.
          </div>
          <div *ngIf="nombre_contacto_confianza.errors['maxlength']">
            El nombre no debe contener más de 20 caracteres.
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="appellido_paterno_contacto_confianza">Apellido paterno contacto de confianza</label>
        <input
          type="text"
          class="form-control"
          name="apellido_paterno_contacto_confianza"
          [(ngModel)]="form.apellido_paterno_contacto_confianza"
          required
          minlength="2"
          maxlength="20"
          #apellido_paterno_contacto_confianza="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && apellido_paterno_contacto_confianza.errors }"
        />
        <div class="invalid-feedback" *ngIf="apellido_paterno_contacto_confianza.errors && f.submitted">
          <div *ngIf="apellido_paterno_contacto_confianza.errors['required']">Debe ingresar un apellido.</div>
          <div *ngIf="apellido_paterno_contacto_confianza.errors['minlength']">
            El apellido debe contener al menos 2 caracteres.
          </div>
          <div *ngIf="apellido_paterno_contacto_confianza.errors['maxlength']">
            El apellido no debe contener más de 20 caracteres.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="apellido_materno_contacto_confianza">Apellido materno contacto de confianza</label>
        <input
          type="text"
          class="form-control"
          name="apellido_materno_contacto_confianza"
          [(ngModel)]="form.apellido_materno_contacto_confianza"
          maxlength="20"
          #apellido_materno_contacto_confianza="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && apellido_materno_contacto_confianza.errors }"
        />
        <div class="invalid-feedback" *ngIf="apellido_materno_contacto_confianza.errors && f.submitted">
          <div *ngIf="apellido_materno_contacto_confianza.errors['maxlength']">
            El apellido materno no debe contener más de 20 caracteres.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="relacion_cliente">Relación</label>
        <input
          type="text"
          class="form-control"
          name="relacion_cliente"
          [(ngModel)]="form.relacion_cliente"
          maxlength="20"
          #relacion_cliente="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && relacion_cliente.errors }"
        />
        <div class="invalid-feedback" *ngIf="relacion_cliente.errors && f.submitted">
          <div *ngIf="relacion_cliente.errors['maxlength']">
            La respuesta no debe contener más de 20 caracteres.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="tel_contacto_confianza">Número telefónico contacto de confianza</label>
        <input
          type="text"
          class="form-control"
          name="tel_contacto_confianza"
          [(ngModel)]="form.tel_contacto_confianza"
          required
          minlength="10"
          maxlength="10"
          #tel_contacto_confianza="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && tel_contacto_confianza.errors }"
        />
        <div class="invalid-feedback" *ngIf="tel_contacto_confianza.errors && f.submitted">
          <div *ngIf="tel_contacto_confianza.errors['required']">
            Se requiere un número telefónico.
          </div>
          <div *ngIf="tel_contacto_confianza.errors['minlength']">
            El número telefónico debe tener 10 dígitos.
          </div>
          <div *ngIf="tel_contacto_confianza.errors['maxlength']">
            El número telefónico no debe contener más de 10 dígitos.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="correo_contacto_confianza">Correo electrónico</label>
        <input
          type="email"
          class="form-control"
          name="email"
          [(ngModel)]="form.correo_contacto_confianza"
          required
          email
          #correo_contacto_confianza="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && correo_contacto_confianza.errors }"
        />
        <div class="invalid-feedback" *ngIf="correo_contacto_confianza.errors && f.submitted">
          <div *ngIf="correo_contacto_confianza.errors['required']">
            Se requiere un correo electrónico.
          </div>
          <div *ngIf="correo_contacto_confianza.errors['email']">
            La dirección del correo electrónica debe ser válida.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input
          type="password"
          class="form-control"
          name="password"
          [(ngModel)]="form.contrasena_contacto_confianza"
          required
          minlength="6"
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
          #password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']">
            Se requiere contraseña.
          </div>
          <div *ngIf="password.errors['minlength']">
            La contraseña debe de tener al menos 6 caracteres.
          </div>
        </div>
      </div>

      <script>
        var myInput = document.getElementById("psw");
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");
        var length = document.getElementById("length");
        
        // When the user clicks on the password field, show the message box
        myInput.onfocus = function() {
          document.getElementById("message").style.display = "block";
        }
        
        // When the user clicks outside of the password field, hide the message box
        myInput.onblur = function() {
          document.getElementById("message").style.display = "none";
        }
        
        // When the user starts to type something inside the password field
        myInput.onkeyup = function() {
          // Validate lowercase letters
          var lowerCaseLetters = /[a-z]/g;
          if(myInput.value.match(lowerCaseLetters)) {
            letter.classList.remove("invalid");
            letter.classList.add("valid");
          } else {
            letter.classList.remove("valid");
            letter.classList.add("invalid");
        }
        
          // Validate capital letters
          var upperCaseLetters = /[A-Z]/g;
          if(myInput.value.match(upperCaseLetters)) {
            capital.classList.remove("invalid");
            capital.classList.add("valid");
          } else {
            capital.classList.remove("valid");
            capital.classList.add("invalid");
          }
        
          // Validate numbers
          var numbers = /[0-9]/g;
          if(myInput.value.match(numbers)) {
            number.classList.remove("invalid");
            number.classList.add("valid");
          } else {
            number.classList.remove("valid");
            number.classList.add("invalid");
          }
        
          // Validate length
          if(myInput.value.length >= 8) {
            length.classList.remove("invalid");
            length.classList.add("valid");
          } else {
            length.classList.remove("valid");
            length.classList.add("invalid");
          }
        }
        </script>
      


      
      <div class="form-group">
        <button class="btn btn-primary btn-block">Registrarse</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        ¡El registro falló!<br />{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      ¡Se completó el registro exitosamente!
    </div>
  </div>
</div>






